<h2>Demande d'informations de la part de {{ contact.prenom }}, habitant à {{ contact.commune }}</h2>

<p>Message : {{ contact.message }}</p>


<p>Email de {{ contact.prenom}} : {{ contact.email }}</p>
       
  