
    <ul>
        <li>Nom du référant : {{ school.nomref }}</li>
        <li>Prénom du référant : {{ school.prenomref}}</li>
        <li>Nom de l'école : {{ school.schoolname }}</li>
        <li>Ville : {{ school.ville }}</li>
        <li>Classe : {{ school.classe }}</li>
        <li>Nombre d'élèves : {{ school.nbrestudent }}</li>
        <li>Message : {{ school.message }}</li>
    </ul>






