<h2>Demande d'informations de la part de {{ school.prenomref }} {{ school.nomref }}</h2>


    <ul>
        <li>Nom de l'établissement : {{ school.schoolname }}</li>
        <li>Ville de l'établissement : {{ school.ville }}</li>
        <li>Niveau de la classe : {{ school.classe }}</li>
        <li>Nombre d'élèves : {{ school.nbrestudent }}</li>
    </ul>

<p>Message : {{ school.message }}</p>






