{% extends 'base.html.twig' %}

{% block body %}
     <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-slide-to="0" class="active"></li>
            <li data-slide-to="1"></li>
            <li data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('css/images/bgcarousel/workspace.jpg');">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Euratechkid's</h2>
                <p>Nos espaces de travail</p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url('css/images/bgcarousel/workspace2.jpg');">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Euratechkid's</h2>
                <p>Nos espaces de travail</p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url('css/images/bgcarousel/workspace3.jpg');">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Euratechkid's</h2>
                <p>Nos espaces de travail</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
              </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
      </header>

      <!-- Fin du carousel -->

      <!-- CARDS DEBUT -->
        		<!-- TITRE ---->
        {% if app.user %}
		<div class="container-fluid text-center text-white" id="content">
                <div class="row ">
                    <div class="col-md-8 mx-auto">
                        <h1>Content de vous revoir {{ app.user.username }} !</h1>
                    </div>
                    <div class="col-md-3">
                        <img src="css/images/robot.png" id="navbar-brand"/>
                    </div>
                </div>
                <h3>N'oubliez pas votre prochain atelier :</h3>
            
        </div>

        <div class="container-fluid text-center">
        
            {% endif %}
            
            <h1 id="typing">Initiez vos enfants au monde du numérique</h1>
			<h4 class="pt-3 pb-3">EuraTechnologies renforce son programme d’accompagnement des plus jeunes avec <br/> 
            EURATECH’KIDS pour donner aux enfants le goût de la programmation et les projeter dans le futur.</h4>
		</div>
		<div class="container">
	        <p class="text-center pt-3">Ateliers coding et robotique en semaine et pendant les vacances</p>
		</div> 
        <!-- FIN TITRE -->
        
        <!-- BOXES PRESENTATION -->

		<div class="container-fluid">
			<div class="box">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-3 col-md-6 col-sm-12">
	                        <figure class="text-center">
	                            <img src="css/images/presentation/prog.jpg" alt="img1">
	                            <figcaption>
	                                <h5>Programmer</h5>
	                                <p>Se construire une boîte à outils et apprendre des compétences utiles à l'école</p>                   
	                            </figcaption>
	                        </figure>
	                    </div>
	                    <div class="col-lg-3 col-md-6 col-sm-12">
	                        <figure class="text-center">
	                            <img src="css/images/presentation/atelier.jpg" alt="img2">
	                            <figcaption>
	                                <h5>Ateliers collaboratifs</h5>
	                                <p>Mettre en valeur les compétences et les talents des membres de l'équipe</p>
	                            </figcaption>
	                        </figure>
	                    </div>
	                    <div class="col-lg-3 col-md-6 col-sm-12" id="crea">
	                        <figure class="text-center">
	                            <img src="css/images/presentation/crea.jpg" alt="img3">
	                            <figcaption>
	                                <h5>Créativité</h5>
	                                <p>Développer la créativité au niveau de la conception, de la construction ou de la programmation</p>
	                            </figcaption>
	                        </figure>
	                    </div>
	                    <div class="col-lg-3 col-md-6 col-sm-12" id="ludique">
	                        <figure class="text-center">
	                            <img src="css/images/presentation/ludique.jpg" alt="img4">
	                            <figcaption>
	                                <h5>Réflexion ludique</h5>
	                                <p>Apprendre à développer une attitude positive face aux problèmes rencontrés</p>
	                            </figcaption>
	                        </figure>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
        
      <!-- CARD FIN -->

      <!-- DEBUT PROGRAMME -->

      <div class="container-fluid text-center mt-2 mb-5 pt-5 pb-5" style="background-color: #17a2b8; color:white;">
		<h2>Notre pédagogie</h2>
            <p class="pt-4 container mx-auto"> Les ateliers coding, robotique et créatif sont l’occasion de faire découvrir aux enfants le champ 
                des possibles du numérique à travers des idées de projets qu’ils souhaitent réaliser en faisant appel
                à leur imagination. La pédagogie de nos ateliers est axée sur le jeu, la découverte et la création.
                Nous pensons que l’approche doit être ludique pour développer la curiosité, libérer la créativité et susciter 
                l’intérêt de chaque enfant. L’articulation du programme se compose de plusieurs ateliers qui partent 
                de la découverte de l’univers numérique jusqu’à la réalisation du projet de l’enfant par ses soins.
            </p>
	    </div>
        <h2 class="text-center pb-5">Découvrez nos programmes</h2>
        <div class="container">
            <div class="row">
            <!--programme 1-->
                <div class="col-sm-12 col-lg-4">
                    <div class="our-team-main shadow-lg">
                        <div class="team-front">
                            <img src="css/images/programme/explorateur2.jpg" class="img-fluid" />
                            <h3>Programme explorateur</h3>
                            <p>5-7 ans</p>
                            <p><i class="fas fa-arrow-alt-circle-down text-info" id="pulse"></i></p>
                        </div>
            <div class="team-back">
                <span style="font-style:italic;">2 cycles de 6 ateliers de 1h30 :</span> <br/><br>
                Mes premiers pas dans le coding <br/>
                Mes premiers pas dans la robotique <br/><br/>
                <div class="container">
                    <button type="button" class="btn btn-info pt-2" data-toggle="modal" data-target="#myModal">En savoir plus</button>
            <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title text-center w-100">Programme Explorateurs</h2> <br/>
                                </div>
                                    <div class="modal-body">
                                        <p class="text-center text-secondary">Détail des cycles :</p>
                                        <p> <span class="text-info"> Cycle 1 : Je découvre le coding</span>  <br/>
                                        Les technologies utilisées et adaptées pour les plus jeunes permettent
                                        à votre enfant de découvrir avec et/ou sans tablette les notions du code informatique.
                                        </p>
                                        <br/> 
                                        <br/>
                                        <p> <span class="text-info"> Cycle 2 : Je découvre la robotique </span><br/>
                                                 Je découvre le robot Thymio® et son fonctionnement.<br>
                                                 J'apprends à construire un robot en Lego® à l’aide d’un modèle.<br>
                                                 J'apprends à déplacer un robot.<br/>
                                                 Les enfants doivent être accompagnés d’un de leurs parents. 
                                        </p>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                            </div>	
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
            <!--programme 1 fin-->
            
            <!--programme 2 début-->
    <div class="col-sm-12 col-lg-4">
        <div class="our-team-main shadow-lg">     
            <div class="team-front">
                <img src="css/images/programme/concepteur2.jpg" class="img-fluid" />
                <h3>Programme concepteur</h3>
                <p>8-12 ans</p>
                <p><i class="fas fa-arrow-alt-circle-down text-info" id="pulse"></i></p>
            </div>
            <div class="team-back">
                <span style="font-style:italic;">5 cycles de 6 ateliers de 1h30 :</span><br><br>
                 Coding <br/>
                 Robotique <br/>
                 Maker 3D <br/>
                 Electronique/robotique <br/>
                 Site Web HTML5/CSS3 <br/><br/>
            <div class="container">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">En savoir plus</button>
            <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title text-center w-100">Programme Concepteur</h2>
                            </div>
                                <div class="modal-body">
                                    <p class="text-center text-secondary">Détail des cycles :</p>
                                    <p class="text-center"> <span class="text-info">Cycle 1 : Coding</span><br/>
                                    J'apprends à coder des animations et jeux vidéo avec Scratch®.
                                    </p>
                                    <br/> 
                                    <br/>
                                    <p class="text-center"> <span class="text-info">Cycle 2 : Robotique</span> <br/>
                                        J'apprends à construire et programmer un robot avec les Lego® Education et le robot Thymio®. 
                                    </p>

                                    <br/>
                                    <br/>
                                    <p class="text-center"><span class="text-info">Cycle 3 :  Découverte de l'impression 3D </span><br/>
                                        J'apprends à coder et dessiner mon objet en 3D <br/>
                                        J'apprends à utiliser une imprimante 3D
                                    </p>

                                    <br/>
                                    <br/>
                                    <p class="text-center"><span class="text-info">Cycle 4 :  Electronique/robotique</span><br/>
                                        Je découvre l'électronique. <br/>
                                        J'apprends à créer un robot avec des composants électroniques.<br/>
                                        Je programme et joue avec mon robot. 
                                    </p>

                                    <br/>
                                    <br/>
                                    <p class="text-center"><span class="text-info">Cycle 5 : Site Web HTML5/CSS3 </span><br/>
                                        J'apprends la programmation Web en codant un site web. 
                                    </p>
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </span> -->
            </div>
        </div>
    </div>
            <!--programme 2 fin-->
            
            <!--programme 3 début-->
<div class="col-sm-12 col-lg-4">
    <div class="our-team-main shadow-lg">
        <div class="team-front">
            <img src="css/images/programme/dev.jpg" class="img-fluid" />
            <h3>Programme développeurs</h3>
            <p>13-15 ans </p>
           <p><i class="fas fa-arrow-alt-circle-down text-info" id="pulse"></i></p>
        </div>
            
        <div class="team-back">
            <span style="font-style:italic;">5 cycles de 6 ateliers de 1h30 :</span> <br><br>
             Site Web HTML5/CSS3 <br/>
             Robotique <br>
             Maker 3D <br/>
             Electronique/robotique <br/>
             Projet <br/><br>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal3">En savoir plus</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title text-center w-100">Programme Développeurs</h2>
                  </div>
                  <div class="modal-body">
                    <p class="text-center text-secondary">Détail des cycles :</p>
                    <p class="text-center"> <span class="text-info">Cycle 1 : Site web HTML5/CSS3</span><br/>
                        J'apprends la programmation Web en codant un site web.
                    </p>
                    <br/> 
                    <br/>
                    <p class="text-center"> <span class="text-info">Cycle 2 : Découverte de l'impression 3D </span> <br/>
                        J'apprends à coder et dessiner mon objet en 3D <br/>
                        J'apprends à utiliser une imprimante 3D 
                    </p>
                    <br/>
                    <br/>
                    <p class="text-center"><span class="text-info">Cycle 3 : Robotique </span><br/>
                        J'apprends à construire et programmer un robot en utilisant le pack inventor de Jimu®.
                    </p>
                      <br/>
                      <br/>
                    <p class="text-center"><span class="text-info">Cycle 4 :  Electronique/robotique</span><br/>
                          Je découvre l'électronique. <br/>
                          J'apprends à créer un robot avec des composants électroniques.<br/>
                          Je programme et joue avec mon robot. 
                    </p>
                    <br/>
                    <br/>
                    <p class="text-center"><span class="text-info">Cycle 5 : Je créé mon projet </span><br/>
                        Au choix parmi les domaines suivants : coding, web, robotique, électronique. <br/>
                        J'innove et j'entreprends un projet valorisant. 
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
                </div>	
              </div>
            </div>
        </div>
    </div>
</div>
</div>
            <!--programme 3 fin--> 
</div>
</div>

<div class="container text-center"><a href="/ateliers" class="btn btn-info btn-lg">Réserver un cours</a></div>
<!-- FIN PROGRAMME -->


<!-- Formulaire de contact -->



<div class="container pt-5 pb-5" id="contactform">
    <h3 class="text-center"><i class="fa fa-envelope"></i> Contactez nous</h3>
    {{ form_start(form) }}     
        {{ form_row(form.prenom, {'label': false,'attr' : {'placeholder': 'Nom, prénom', 'class' : 'contact'}}) }}
        {{ form_row(form.commune, {'label': false,'attr' : {'placeholder': 'Votre commune', 'class' : 'contact'}}) }}
        {{ form_row(form.email, {'label': false,'attr' : {'placeholder': 'email@email.com', 'class' : 'contact'}}) }}
        {{ form_row(form.message, {'label': false,'attr' : {'placeholder':'message', 'class' : 'contact' }}) }}
        <div class="text-center">
            <input type="submit" value="Envoyer" class="btn btn-info rounded-2 py-2 mt-3">
        </div>
        {{ form_end(form) }}
</div>
        <div id="map" class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.681106499827!2d3.0178653159010453!3d50.63304058207214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d55c764ab439%3A0x2e9bfd5c48d283b!2sEuraTechnologies!5e0!3m2!1sfr!2sfr!4v1582117310148!5m2!1sfr!2sfr" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>


        </div>
</div>
                

    

        

<!-- Fin formulaire de contact -->
{% endblock %}
