{% block navbar %}
    <nav class="main-navigation container-fluid">
        <div class="navbar-header animated fadeInUp">
            <img src="css/images/logokids.png" class="navbar-brand"/>
        </div>
        <div class="container">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="{{ path('home_page') }}" class="nav-link">Accueil</a>
                </li>
                <li class="nav-list-item">
                    <a href="{{ path('ateliers') }}" class="nav-link">Ateliers</a>
                </li>
                <li class="nav-list-item">
                    <a href="{{ path('ecoles') }}" class="nav-link">Écoles</a>
                </li>
                {% if app.user %}
                <li class="nav-list-item">
                    <a href="{{ path('security_logout') }}" 
                        class="nav-link" 
                        id="log" 
                        alt="se connecter">Déconnexion</a>
                </li>
                <li class="nav-list-item" id="bienvenue" >
                    <a class="nav-link" id="bienvenue">Bienvenue {{ app.user.username }} !</a>
                </li>

                {% else %} 
                <li class="nav-list-item">
                    <a href="{{ path('security_login') }}" 
                        class="nav-link" 
                        id="log" 
                        alt="se connecter">Connexion</a>
                <li class="nav-list-item">
                    <a href="{{ path('security_registration') }}" class="nav-link" id="log"> S'inscrire</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}